body {
  margin: 0px;
  padding: 0px;
  font-family: "Cabin", sans-serif;

}

:root {
  --main-bg-color: #0dcaf0;
}

.navbar {
  background-color: none;
  font-size: 1.2rem;
}

.navbar-brand img{
  height: 2rem;
}
#nombre{
  font-size: 1.2rem;
  color: #fff;
}

section {
  background-color: #000;
}

#bodyTitles {
  text-transform: uppercase;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  height: auto;
  width: auto;
  color: #fff;

}
#icono1{
  font-size: 2rem;
}

.card-img-top {
  height: 10rem;
  width: auto;
  border-radius: 0px;
}

.card-title {
  font-size: 23pt;
  padding-bottom: 2px;
}

.card-text {
  font-size: 16pt;
}

.card-body,
.fondoIcon,
footer {
  background: var(--main-bg-color);
}

.grid-container {
  display: grid;
  column-gap: 50px;
}

footer {
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

.brand-name {
  padding-left: 20rem;
  font-size: 2rem;
  font-weight: 400;
}

.social-icons {
  padding-right: 20rem;
  font-size: 2rem;
}